@font-face {
  font-family: Minecraftmainfont;
  src: url(/fonts/MinecraftRegular-Bmg3.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Minecraftmainfont, Garamond, serif;
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
}

#particles-js{ 
  position:fixed; 
  width: 100%; 
  height: 100%;
  color: #fff;
  z-index: -1;
} 

/*----------------------------------------- LOADER ----------------------------------------*/

img.vert-move {
  -webkit-animation: mover .8s infinite  alternate;
  animation: mover .85s infinite alternate;
}

img.vert-move-2 {
  -webkit-animation: mover .8s infinite  alternate;
  animation: mover .85s infinite alternate;
  animation-delay: .1s;
}

img.vert-move-3 {
  -webkit-animation: mover .8s infinite  alternate;
  animation: mover .85s infinite alternate;
  animation-delay: .2s;
}

img.vert-move-4 {
  -webkit-animation: mover .8s infinite  alternate;
  animation: mover .85s infinite alternate;
  animation-delay: .3s;
}

img.vert-move-5 {
  -webkit-animation: mover .8s infinite  alternate;
  animation: mover .85s infinite alternate;
  animation-delay: .4s;
}

img.vert-move-6 {
  -webkit-animation: mover .8s infinite  alternate;
  animation: mover .85s infinite alternate;
  animation-delay: .5s;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); filter: drop-shadow(1px 1px 10px rgba(255,255,255,.65)) brightness(130%);}
  100% { transform: translateY(-10px) scaleX(.9); }
}
@keyframes mover {
  0% { transform: translateY(0); filter: drop-shadow(1px 1px 10px rgba(255,255,255,.65)) brightness(130%);}
  100% { transform: translateY(-10px) scaleX(.9); }
}

.loader-bgs {
  background-color: black;
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper {
  position: fixed;
  text-align: center;
  inset: 0;
  z-index: 1;
  background-color: black;
  display: grid;
  place-items: center;
  transition: opacity .25, visibility 1s;
}

.fades {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25, visibility 1s;
}

.loader-icon {
  width: 6rem;
  -webkit-animation: loader-icon .85s infinite  alternate;
  animation: loader-icon .85s infinite alternate;
  border: 1px solid white;
  padding: .5rem;
  border-radius: 100%;
  border-left: none;
  border-bottom: none;
}

@-webkit-keyframes loader-icon {
  0% { transform: translateY(0); filter: drop-shadow(1px 1px 150px rgba(255,255,255,0.25)) brightness(110%);}
  100% { transform: translateY(-1px); filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.5))}
}
@keyframes loader-icon {
  0% { transform: translateY(0); filter: drop-shadow(1px 1px 150px rgba(255,255,255,0.25)) brightness(110%);}
  100% { transform: translateY(-1px); filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.5))}
}

.loader-welcome {
  filter: brightness(120%);
  -webkit-text-stroke: .1px white;
  color: white;
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: 1.2rem;
}

.text-motion {
  background: linear-gradient(90deg, #5B8FB9, #fff, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #5B8FB9;
  animation: text-motion 1.7s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes text-motion {
  0% {
      background-position: -500%;
 }
  100% {
      background-position: 500%;
 }
}

.coin {
  width: 3rem;
}

.bg-landpage {
  background-color: rgb(46, 46, 46);
}

/*----------------------------------------- FOOTER ----------------------------------------*/

.main-footer {
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0));
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.main-footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icon {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    -webkit-animation: loader-icon .85s infinite  alternate;
    animation: loader-icon .85s infinite alternate;
    border: 2px solid white;
    padding: 5px;
    border-radius: 100%;
    border-left: none;
    border-bottom: none;
  }

@-webkit-keyframes loader-icon {
    0% { transform: translateY(0); filter: drop-shadow(1px 1px 10px rgba(255,255,255,0.25)) brightness(110%);}
    100% { transform: translateY(-1px); filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.5))}
}
@keyframes loader-icon {
    0% { transform: translateY(0); filter: drop-shadow(1px 1px 10px rgba(255,255,255,0.25)) brightness(110%);}
    100% { transform: translateY(-1px); filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.5))}
}

.text-motion-index {
  background: linear-gradient(90deg, #5B8FB9, #fff, #fff);
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #fff;
  animation: text-motion-index 1.7s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes text-motion-index {
  0% {
      background-position: -500%;
 }
  100% {
      background-position: 500%;
 }
}

.social-icon__link-contact {
  font-size: 5rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

/*----------------------------------------- HEADER ----------------------------------------*/

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.width-class {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 55%;
}

.index-navigation {
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,255,255,0));
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-buttons {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.nav-buttons:hover {
  background-image: linear-gradient(to top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.nav-buttons:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-buttons:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active {
  background-image: linear-gradient(to top, rgba(255,255,255,.3), rgba(255,255,255,0));
  border-bottom: 1px solid white; 
}

.index-logo {
  width: 90px;
  -webkit-animation: loader-icon .85s infinite  alternate;
  animation: loader-icon .85s infinite alternate;
  border: 3px solid white;
  padding: 10px;
  border-radius: 100%;
  border-left: none;
  border-bottom: none;
}

.index-logo:hover {
  -webkit-animation: loader-icon-spin 2s infinite  alternate;
  animation: loader-icon-spin 2s infinite alternate;
}

@-webkit-keyframes loader-icon-spin {
  0% {filter: drop-shadow(1px 1px 150px rgba(255,255,255,1)) brightness(110%);}
  100% {filter: drop-shadow(1px 1px 5px rgba(255,255,255,1))}
}
@keyframes loader-icon-spin {
  0% {filter: drop-shadow(1px 1px 150px rgba(255,255,255,1)) brightness(110%);}
  100% {filter: drop-shadow(1px 1px 5px rgba(255,255,255,1))}
}

/*----------------------------------------- CAROUSEL ----------------------------------------*/

.slideshow-container {
  width: auto;
  margin: auto;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: wheat;
  color: black;
}


.fade {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }

/*----------------------------------------- HOME ----------------------------------------*/

.front-index {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  padding: 10rem;
}

.squid {
  filter: drop-shadow(20px 10px 20px rgba(0,0,0,1));
  -webkit-animation: squid .85s infinite  alternate;
  animation: squid .85s infinite alternate;
}

@-webkit-keyframes squid {
  0% { transform: translateY(0);}
  100% { transform: translateY(-3px);}
}
@keyframes squid {
  0% { transform: translateY(0);}
  100% { transform: translateY(-3px);}
}

h1.cryptech-info {
  font-style: italic;
  font-size: 3rem;
  filter: drop-shadow(20px 10px 5px rgba(0,0,0,.5))
}

p.cryptech-info {
  -webkit-text-stroke: .1px black;
  font-size: 1.2rem;
}

.typed-text {
  color: wheat;
}

.coin-on-main {
  width: 5rem;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

/*----------------------------------------- FAB ----------------------------------------*/

@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.image-selection-fab {
  padding: 1px;
  width: 65px;
  height: auto;
  filter: drop-shadow(0px 0px 5px rgba(225, 225, 225, 1)) contrast(110%) brightness(105%); opacity: 1;
}

.image-selection-fab:hover {
  filter: drop-shadow(0px 0px 50px rgba(225, 225, 225, 1)); opacity: 1;
  animation-name: shakess;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

.floating-button {
  background-color: transparent;
}

.floating-container {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5vh;
  margin-bottom: 5vh;
  z-index: 9999;
}

.floating-container:hover {
  min-height: 50vh;
}

@media (max-height: 1400px) {
  .floating-container:hover {
    min-height: 50vh;
  }
}

@media (max-width: 1900px) {
  .floating-container:hover {
    min-height: 50vh;
  }
}

@media (max-width: 1600px) {
  .floating-container:hover {
    min-height: 50vh;
  }
}

@media (max-width: 1300px) {
  .floating-container:hover {
    min-height: 50vh;
  }
}

@media (max-width: 1024px) {
  .floating-container:hover {
    min-height: 50vh;
  }
}

@media (max-width: 768px) {
  .floating-container:hover {
    min-height: 50vh;
  }
}

@keyframes shakess {
  0% {
      transform: translate(1px, 1px) rotate(0deg);
 }
  10% {
      transform: translate(-1px, -2px) rotate(-1deg);
 }
  20% {
      transform: translate(-3px, 0px) rotate(1deg);
 }
  30% {
      transform: translate(3px, 2px) rotate(0deg);
 }
  40% {
      transform: translate(1px, -1px) rotate(1deg);
 }
  50% {
      transform: translate(-1px, 2px) rotate(-1deg);
 }
  60% {
      transform: translate(-3px, 1px) rotate(0deg);
 }
  70% {
      transform: translate(3px, 1px) rotate(-1deg);
 }
  80% {
      transform: translate(-1px, -1px) rotate(1deg);
 }
  90% {
      transform: translate(1px, 2px) rotate(0deg);
 }
  100% {
      transform: translate(1px, -2px) rotate(-1deg);
 }
}

.floating-container:hover .floating-button {
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container:hover .element-container .float-element:nth-child(4) {
  -webkit-animation: come-in 0.4s forwards 0.8s;
          animation: come-in 0.4s forwards 0.8s;
}
.floating-container:hover .element-container .float-element:nth-child(5) {
  -webkit-animation: come-in 0.4s forwards 1s;
          animation: come-in 0.4s forwards 1s;
}
.floating-container:hover .element-container .float-element:nth-child(6) {
  -webkit-animation: come-in 0.4s forwards 1.2s;
          animation: come-in 0.4s forwards 1.2s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  color: white;
  text-align: center;
  z-index: 10000;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  color: white;
  line-height: 50px;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
}

@media (max-height: 768px) {

  .floating-container:hover {
    min-height: 50vh;
  }

  .image-selection-fab {
    width: 50px;
  }

  .floating-container .float-element {
    margin-bottom: 15px;
  }
}