@font-face {
    font-family: Minecraftmainfont;
    src: url(/fonts/MinecraftRegular-Bmg3.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: Minecraftmainfont, Garamond, serif;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
  }

  #particles-js{ 
    position:fixed; 
    width: 100%; 
    height: 100%;
    color: #fff;
    z-index: -1;
  } 

  /*----------------------------------------- LOADER ----------------------------------------*/

img.vert-move {
    -webkit-animation: mover .8s infinite  alternate;
    animation: mover .85s infinite alternate;
  }
  
  img.vert-move-2 {
    -webkit-animation: mover .8s infinite  alternate;
    animation: mover .85s infinite alternate;
    animation-delay: .1s;
  }
  
  img.vert-move-3 {
    -webkit-animation: mover .8s infinite  alternate;
    animation: mover .85s infinite alternate;
    animation-delay: .2s;
  }
  
  img.vert-move-4 {
    -webkit-animation: mover .8s infinite  alternate;
    animation: mover .85s infinite alternate;
    animation-delay: .3s;
  }
  
  img.vert-move-5 {
    -webkit-animation: mover .8s infinite  alternate;
    animation: mover .85s infinite alternate;
    animation-delay: .4s;
  }
  
  img.vert-move-6 {
    -webkit-animation: mover .8s infinite  alternate;
    animation: mover .85s infinite alternate;
    animation-delay: .5s;
  }
  
  @-webkit-keyframes mover {
    0% { transform: translateY(0); filter: drop-shadow(1px 1px 10px rgba(255,255,255,.65)) brightness(130%);}
    100% { transform: translateY(-10px) scaleX(.9); }
  }
  @keyframes mover {
    0% { transform: translateY(0); filter: drop-shadow(1px 1px 10px rgba(255,255,255,.65)) brightness(130%);}
    100% { transform: translateY(-10px) scaleX(.9); }
  }
  
  .loader-bgs {
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  .wrapper {
    position: fixed;
    text-align: center;
    inset: 0;
    z-index: 1;
    background-color: black;
    display: grid;
    place-items: center;
    transition: opacity .25, visibility 1s;
  }
  
  .fades {
    opacity: 0;
    visibility: hidden;
    transition: opacity .25, visibility 1s;
  }
  
  .loader-icon {
    width: 6rem;
    -webkit-animation: loader-icon .85s infinite  alternate;
    animation: loader-icon .85s infinite alternate;
    border: 1px solid white;
    padding: .5rem;
    border-radius: 100%;
    border-left: none;
    border-bottom: none;
  }
  
  @-webkit-keyframes loader-icon {
    0% { transform: translateY(0); filter: drop-shadow(1px 1px 150px rgba(255,255,255,0.25)) brightness(110%);}
    100% { transform: translateY(-1px); filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.5))}
  }
  @keyframes loader-icon {
    0% { transform: translateY(0); filter: drop-shadow(1px 1px 150px rgba(255,255,255,0.25)) brightness(110%);}
    100% { transform: translateY(-1px); filter: drop-shadow(1px 1px 5px rgba(255,255,255,0.5))}
  }
  
  .loader-welcome {
    filter: brightness(120%);
    -webkit-text-stroke: .1px white;
    color: white;
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
  }
  
  .text-motion {
    background: linear-gradient(90deg, #5B8FB9, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: #5B8FB9;
    animation: text-motion 1.7s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @keyframes text-motion {
    0% {
        background-position: -500%;
   }
    100% {
        background-position: 500%;
   }
  }
  
  .coin {
    width: 3rem;
  }

  /*----------------------------------------- BACKGROUND ----------------------------------------*/

.bg-landpage {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: bg-animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bg-animation {
    0% {
       background-image: url(/images/bgs/bg-main-medieval.webp);
   }
    20% {
       background-image: url(/images/bgs/bg-sub-medieval.webp);
   }
   40% {
    background-image: url(/images/bgs/bg-sub-medieval.webp);
  }
  60% {
  background-image: url(/images/bgs/bg-sub-medieval.webp);
  }
  80% {
  background-image: url(/images/bgs/bg-main-medieval.webp);
  }
   100% {
    background-image: url(/images/bgs/bg-main-medieval.webp);
  }
  }